body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:   10px;
    background-color: rgb(157, 19, 237);
    color: white;
}
a {
    text-decoration: none;
    padding: 10px;
    color: white;
}
a:hover{
    font-weight: bold;
    text-decoration: underline;
}
nav {
    border: 2px solid red;
    padding: 25px 10px;
}
#about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
}
.about_me > h1 {
    color: rgb(157, 19, 237);
}
.about_me > p {
    color: rgb(151, 135, 105);
}
#images {
    width: 150px;
}
#item {
    border: 2px solid black;
    text-align: center;
    box-shadow: 5px 5px 5px 5px lightblue;
}
#skills {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 150px;
    align-items: center;
    gap: 30px;
}
#projects {
    padding: 50px 150px;
}
h1 {
    color: rgb(157, 19, 237);
}
#projects_item > li {
    align-items: center;
    padding-left: 50px;
}

#recomendations, #leave{
    padding: 50px 150px;
}
#recomendation{
    display: flex;
    flex-wrap: wrap;
}
#rec_item{
    margin: 15px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 5px lightblue;
    height: 200px;
    width: 250px;
}

#leave {
    position: relative;
    /* top: 50px; */
    left: 200px;
}
#span{
    /* width: 100px; */
    position: relative;
    left: 280px;
    padding: 10px 30px;
    border: 2px solid rgb(157, 19, 237);
    color:  rgb(157, 19, 237);
    text-align: center;
    cursor: pointer;
}

.up {
    width: 50px;
    position: relative;
    left: 800px;
    border: 2px solid red;
    padding: 5px;
}
